<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tqmall.athena.dal.mapper.obd.VehicleObdVehicleRelDOMapper" >
  <resultMap id="BaseResultMap" type="com.tqmall.athena.bean.entity.obd.VehicleObdVehicleRelDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="vehicle_id" property="vehicleId" jdbcType="INTEGER" />
    <result column="obd_vehicle_id" property="obdVehicleId" jdbcType="INTEGER" />
    <result column="vehicle_code" property="vehicleCode" jdbcType="CHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, gmt_create, vehicle_id, obd_vehicle_id, vehicle_code
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from db_vehicle_obd_vehicle_rel
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from db_vehicle_obd_vehicle_rel
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tqmall.athena.bean.entity.obd.VehicleObdVehicleRelDO" >
    insert into db_vehicle_obd_vehicle_rel (id, gmt_create, vehicle_id, 
      obd_vehicle_id, vehicle_code)
    values (#{id,jdbcType=INTEGER}, #{gmtCreate,jdbcType=TIMESTAMP}, #{vehicleId,jdbcType=INTEGER}, 
      #{obdVehicleId,jdbcType=INTEGER}, #{vehicleCode,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tqmall.athena.bean.entity.obd.VehicleObdVehicleRelDO" >
    insert into db_vehicle_obd_vehicle_rel
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="vehicleId != null" >
        vehicle_id,
      </if>
      <if test="obdVehicleId != null" >
        obd_vehicle_id,
      </if>
      <if test="vehicleCode != null" >
        vehicle_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="vehicleId != null" >
        #{vehicleId,jdbcType=INTEGER},
      </if>
      <if test="obdVehicleId != null" >
        #{obdVehicleId,jdbcType=INTEGER},
      </if>
      <if test="vehicleCode != null" >
        #{vehicleCode,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tqmall.athena.bean.entity.obd.VehicleObdVehicleRelDO" >
    update db_vehicle_obd_vehicle_rel
    <set >
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="vehicleId != null" >
        vehicle_id = #{vehicleId,jdbcType=INTEGER},
      </if>
      <if test="obdVehicleId != null" >
        obd_vehicle_id = #{obdVehicleId,jdbcType=INTEGER},
      </if>
      <if test="vehicleCode != null" >
        vehicle_code = #{vehicleCode,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tqmall.athena.bean.entity.obd.VehicleObdVehicleRelDO" >
    update db_vehicle_obd_vehicle_rel
    set gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      vehicle_id = #{vehicleId,jdbcType=INTEGER},
      obd_vehicle_id = #{obdVehicleId,jdbcType=INTEGER},
      vehicle_code = #{vehicleCode,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <select id="selectByParam" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from db_vehicle_obd_vehicle_rel
    where vehicle_id = #{vehicleId,jdbcType=INTEGER}
    and vehicle_code = #{vehicleCode,jdbcType=CHAR}
    limit 1
  </select>

</mapper>