<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tqmall.athena.dal.mapper.car.GoodsCarDOMapper" >
  <resultMap id="BaseResultMap" type="com.tqmall.athena.bean.entity.car.GoodsCarDO" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="goods_id" property="goodsId" jdbcType="INTEGER" />
    <result column="car_id" property="carId" jdbcType="INTEGER" />
    <result column="car_name" property="carName" jdbcType="VARCHAR" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="car_brand_id" property="carBrandId" jdbcType="INTEGER" />
    <result column="car_brand" property="carBrand" jdbcType="VARCHAR" />
    <result column="car_series_id" property="carSeriesId" jdbcType="INTEGER" />
    <result column="car_series" property="carSeries" jdbcType="VARCHAR" />
    <result column="car_model_id" property="carModelId" jdbcType="INTEGER" />
    <result column="car_model" property="carModel" jdbcType="VARCHAR" />
    <result column="car_power_id" property="carPowerId" jdbcType="INTEGER" />
    <result column="car_power" property="carPower" jdbcType="VARCHAR" />
    <result column="car_year_id" property="carYearId" jdbcType="INTEGER" />
    <result column="car_year" property="carYear" jdbcType="CHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="gmt_create" property="gmtCreate" jdbcType="TIMESTAMP" />
    <result column="gmt_modified" property="gmtModified" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goods_id, car_id, car_name, level, car_brand_id, car_brand, car_series_id, car_series, 
    car_model_id, car_model, car_power_id, car_power, car_year_id, car_year, status
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from db_goods_car
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from db_goods_car
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tqmall.athena.bean.entity.car.GoodsCarDO" >
    insert into db_goods_car (id, goods_id, car_id, 
      car_name, level, car_brand_id, 
      car_brand, car_series_id, car_series, 
      car_model_id, car_model, car_power_id, 
      car_power, car_year_id, car_year, 
      status, gmt_create, gmt_modified
      )
    values (#{id,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{carId,jdbcType=INTEGER}, 
      #{carName,jdbcType=VARCHAR}, #{level,jdbcType=INTEGER}, #{carBrandId,jdbcType=INTEGER}, 
      #{carBrand,jdbcType=VARCHAR}, #{carSeriesId,jdbcType=INTEGER}, #{carSeries,jdbcType=VARCHAR}, 
      #{carModelId,jdbcType=INTEGER}, #{carModel,jdbcType=VARCHAR}, #{carPowerId,jdbcType=INTEGER}, 
      #{carPower,jdbcType=VARCHAR}, #{carYearId,jdbcType=INTEGER}, #{carYear,jdbcType=CHAR}, 
      #{status,jdbcType=INTEGER}, #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModified,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.tqmall.athena.bean.entity.car.GoodsCarDO" >
    insert into db_goods_car
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="carId != null" >
        car_id,
      </if>
      <if test="carName != null" >
        car_name,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="carBrandId != null" >
        car_brand_id,
      </if>
      <if test="carBrand != null" >
        car_brand,
      </if>
      <if test="carSeriesId != null" >
        car_series_id,
      </if>
      <if test="carSeries != null" >
        car_series,
      </if>
      <if test="carModelId != null" >
        car_model_id,
      </if>
      <if test="carModel != null" >
        car_model,
      </if>
      <if test="carPowerId != null" >
        car_power_id,
      </if>
      <if test="carPower != null" >
        car_power,
      </if>
      <if test="carYearId != null" >
        car_year_id,
      </if>
      <if test="carYear != null" >
        car_year,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="gmtCreate != null" >
        gmt_create,
      </if>
      <if test="gmtModified != null" >
        gmt_modified,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null" >
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="carId != null" >
        #{carId,jdbcType=INTEGER},
      </if>
      <if test="carName != null" >
        #{carName,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="carBrandId != null" >
        #{carBrandId,jdbcType=INTEGER},
      </if>
      <if test="carBrand != null" >
        #{carBrand,jdbcType=VARCHAR},
      </if>
      <if test="carSeriesId != null" >
        #{carSeriesId,jdbcType=INTEGER},
      </if>
      <if test="carSeries != null" >
        #{carSeries,jdbcType=VARCHAR},
      </if>
      <if test="carModelId != null" >
        #{carModelId,jdbcType=INTEGER},
      </if>
      <if test="carModel != null" >
        #{carModel,jdbcType=VARCHAR},
      </if>
      <if test="carPowerId != null" >
        #{carPowerId,jdbcType=INTEGER},
      </if>
      <if test="carPower != null" >
        #{carPower,jdbcType=VARCHAR},
      </if>
      <if test="carYearId != null" >
        #{carYearId,jdbcType=INTEGER},
      </if>
      <if test="carYear != null" >
        #{carYear,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null" >
        #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tqmall.athena.bean.entity.car.GoodsCarDO" >
    update db_goods_car
    <set >
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="carId != null" >
        car_id = #{carId,jdbcType=INTEGER},
      </if>
      <if test="carName != null" >
        car_name = #{carName,jdbcType=VARCHAR},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="carBrandId != null" >
        car_brand_id = #{carBrandId,jdbcType=INTEGER},
      </if>
      <if test="carBrand != null" >
        car_brand = #{carBrand,jdbcType=VARCHAR},
      </if>
      <if test="carSeriesId != null" >
        car_series_id = #{carSeriesId,jdbcType=INTEGER},
      </if>
      <if test="carSeries != null" >
        car_series = #{carSeries,jdbcType=VARCHAR},
      </if>
      <if test="carModelId != null" >
        car_model_id = #{carModelId,jdbcType=INTEGER},
      </if>
      <if test="carModel != null" >
        car_model = #{carModel,jdbcType=VARCHAR},
      </if>
      <if test="carPowerId != null" >
        car_power_id = #{carPowerId,jdbcType=INTEGER},
      </if>
      <if test="carPower != null" >
        car_power = #{carPower,jdbcType=VARCHAR},
      </if>
      <if test="carYearId != null" >
        car_year_id = #{carYearId,jdbcType=INTEGER},
      </if>
      <if test="carYear != null" >
        car_year = #{carYear,jdbcType=CHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="gmtCreate != null" >
        gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      </if>
      <if test="gmtModified != null" >
        gmt_modified = #{gmtModified,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tqmall.athena.bean.entity.car.GoodsCarDO" >
    update db_goods_car
    set goods_id = #{goodsId,jdbcType=INTEGER},
      car_id = #{carId,jdbcType=INTEGER},
      car_name = #{carName,jdbcType=VARCHAR},
      level = #{level,jdbcType=INTEGER},
      car_brand_id = #{carBrandId,jdbcType=INTEGER},
      car_brand = #{carBrand,jdbcType=VARCHAR},
      car_series_id = #{carSeriesId,jdbcType=INTEGER},
      car_series = #{carSeries,jdbcType=VARCHAR},
      car_model_id = #{carModelId,jdbcType=INTEGER},
      car_model = #{carModel,jdbcType=VARCHAR},
      car_power_id = #{carPowerId,jdbcType=INTEGER},
      car_power = #{carPower,jdbcType=VARCHAR},
      car_year_id = #{carYearId,jdbcType=INTEGER},
      car_year = #{carYear,jdbcType=CHAR},
      status = #{status,jdbcType=INTEGER},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modified = #{gmtModified,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>



  <!--============================================-->
  <select id="selectListByGoodsId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select <include refid="Base_Column_List" />
    from db_goods_car
    where goods_id = #{goodsId,jdbcType=INTEGER}
    and status = 1
  </select>

  <select id="getCarModelByGoodsId" resultType="com.tqmall.athena.bean.entity.car.CarCategoryDO" parameterType="java.lang.Integer">
    select c.brand,c.company,c.series,c.name,c.id,
      c.import_info as importInfo
    from
    (select distinct car_model_id from db_goods_car where goods_id= #{goodsId} and status=1) gc,
    (select * from db_car_category where level=3 and is_del=0) c
    where gc.car_model_id=c.id
  </select>

  <select id="getCarByGoodsModelId" resultMap="BaseResultMap" >
    select car_year,car_name,car_id
    from db_goods_car where goods_id= #{goodsId} and car_model_id= #{carModelId} and status=1
  </select>

  <select id="getCarSeriesByGoodsId" resultType="com.tqmall.athena.bean.entity.car.CarCategoryDO" parameterType="java.lang.Integer">
    select c.brand,c.company,c.name,c.id,c.import_info as importInfo
    from
    (select distinct car_series_id from db_goods_car where goods_id= #{goodsId} and status=1) gc,
    (select * from db_car_category where level=2 and is_del=0) c
    where gc.car_series_id=c.id
  </select>

  <select id="getCarModelByGoodsSeriesId" resultMap="BaseResultMap" >
    select car_model,car_model_id
    from db_goods_car where goods_id= #{goodsId} and car_series_id= #{carSeriesId} and status=1
  </select>


  <select id="getCarIdsByGoodsId" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select car_id
    from db_goods_car
    where goods_id = #{goodsId}
    and status = 1
  </select>
  <select id="getInvalidCarIdsByGoodsId" resultType="java.lang.Integer" parameterType="java.lang.Integer" >
    select car_id
    from db_goods_car
    where goods_id = #{goodsId}
    and status != 1
  </select>

  <update id="updateInvalidDatas">
    update db_goods_car set status=1
    where goods_id = #{goodsId}
    and car_id in
    <foreach collection="carIds" item="item" open="(" separator="," close=")">
      #{item}
    </foreach>
  </update>

  <insert id="batchInsert" >
    insert ignore into db_goods_car (goods_id, car_id, car_name,
      car_brand_id, car_brand, car_series_id, car_series,
      car_model_id, car_model, car_power_id, car_power,
      car_year_id, car_year, status, gmt_create
      )
    values
    <foreach collection="list" item="item" separator=",">
      (#{item.goodsId}, #{item.carId}, #{item.carName},
      #{item.carBrandId},#{item.carBrand}, #{item.carSeriesId}, #{item.carSeries},
      #{item.carModelId}, #{item.carModel}, #{item.carPowerId}, #{item.carPower},
      #{item.carYearId}, #{item.carYear}, 1, #{item.gmtCreate}
      )
    </foreach>
  </insert>

</mapper>